# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# temp
.pytest_cache/
.ipynb_checkpoints/

# outputs
*Cleaned.csv
eg_output.csv

#IDE
.vscode/
.idea/
data/test_ms_data 10ppm test.csv
data/test_ms_data 5ppm test.csv
data/test_ms_data.ftrs
pgfinder/debug_enviroment
