git+https://github.com/Mesnage-Org/PGFinder.git
hide_code>=0.5.2
ipysheet>=0.4.4
#ipywidgets>=8.0.2
ipywidgets>=8.0.2,<9
#jupyterlab>=3.0.15
jupyter_contrib_nbextensions
nbclient>=0.6.4
# Core modules (mandatory)
jupyterlite-core==0.1.0
jupyterlab~=3.5.1
